<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>eBay Sale History</title>

</head>

<body>
  <h1>eBay Sale History Search</h1>
    <form action="http://localhost:3000/search" method="get">
      <label>Search:</label>
      <input type="text" name="search_term" value="{{searchTerm}}" />
    </form>
</body>
</html>